body{
    background-color: aquamarine;
}
h1{
    padding-left: 20%;
    font-size: 40px;
    position: relative;
    right:50px;
    
}.image{
    height: 550px;
    position:relative;
    left:500px;
    
}
h2,h3{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
div#box {
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px #98FB98;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
}